.header {
  position: relative;
  z-index: 10;
  padding: 20px 0 30px;
  background-color: #fff;

  @media (max-width: 767px) {
    padding: 0;

    &._open {
      .header-mobile__burger {
        span {
          &:nth-child(1) {
            top: 16px;
            left: 50%;
            transform: rotate(45deg) translate(-50%, 0);
          }

          &:nth-child(2) {
            top: -1px;
            bottom: auto;
            left: 50%;
            transform: rotate(-45deg) translate(-50%, 0);
          }

          &:nth-child(3) {
            width: 0;
          }
        }
      }

      .header-menu {
        pointer-events: unset;
        visibility: visible;
        user-select: unset;
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  &._search-open {
    .header-search {
      transform: translate(0);
      pointer-events: unset;
      visibility: visible;
      user-select: unset;
      opacity: 1;
    }
    .header-body__nav-search,
    .header-mobile__search {
      img {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }

  &.container {
    position: relative;
    z-index: 1;
    background-color: #fff;
  }

  &__bg {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.59);

    pointer-events: none;
    visibility: hidden;
    user-select: none;
    opacity: 0;

    transition: all 0.4s ease;

    &._search-open {
      pointer-events: unset;
      visibility: visible;
      user-select: unset;
      opacity: 1;
    }
  }

  &-search {
    position: absolute;
    z-index: -1;
    background-color: #fff;
    left: 0;
    right: 0;
    top: calc(100% - 30px);

    transform: translate(0, -100%);
    pointer-events: none;
    visibility: hidden;
    user-select: none;
    opacity: 0;

    transition: all 0.4s ease;

    @media (max-width: 767px) {
      border-top: 1px solid rgba(0, 0, 0, 0.59);
      top: calc(100%);
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__input {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      margin: 0 50px 0 0;

      img {
        width: 13px;
        height: 13px;
        margin: 0 9px 0 0;
        object-fit: contain;
      }

      input {
        width: 100%;
        color: #000;
        font-family: Commissioner;
        font-size: 13px;
        font-weight: 400;
        height: 60px;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      height: 28px;
      border-radius: 3px;
      background: #e0222d;
      padding: 0 18px;
      color: #fff;
      font-family: Commissioner;
      font-size: 13px;
      font-weight: 700;
    }
  }

  &-body {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      display: none;
    }

    &__logo {
      flex: 0 0 auto;
      width: 90px;

      @media (max-width: 991px) {
        width: 70px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__menu {
      width: 100%;
      margin: 0 0 0 40px;

      @media (max-width: 991px) {
        margin: 0 0 0 20px;
      }
    }

    &__top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 0 24px;
      border-bottom: 1px solid #dee3f5;

      @media (max-width: 991px) {
        padding: 0 0 16px;
      }

      &-link {
        display: inline-flex;
        align-items: center;
        color: #000;
        font-family: Commissioner;
        font-size: 17px;
        font-weight: 500;

        transition: all 0.3s ease;

        &:hover {
          color: #e0222d;
        }

        @media (max-width: 991px) {
          font-size: 16px;
        }

        &:not(:first-child) {
          margin: 0 0 0 40px;

          @media (max-width: 991px) {
            margin: 0 0 0 20px;
          }
        }

        &._tel {
          position: relative;
          font-size: 22px;
          line-height: 27px;
          font-weight: 700;

          &::after {
            content: '';
            display: block;
            height: 1px;
            bottom: -3px;
            width: calc(100% - 28px);
            left: 28px;
            position: absolute;
            background-image: linear-gradient(
              to right,
              #e0222d 33%,
              rgba(255, 255, 255, 0) 0%
            );
            background-position: bottom;
            background-size: 5px 1px;
            background-repeat: repeat-x;

            @media (max-width: 991px) {
              width: calc(100% - 24px);
              left: 24px;
            }
          }

          @media (max-width: 991px) {
            font-size: 20px;
            line-height: 24px;
          }
        }

        img {
          width: 18px;
          height: 18px;
          object-fit: contain;
          object-position: center;
          margin: 0 10px 0 0;

          @media (max-width: 991px) {
            margin: 0 6px 0 0;
          }
        }
      }

      &-lang {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        margin: 0 0 0 40px;
        padding: 4px 8px;

        color: #7e7e7e;
        font-family: Commissioner;
        font-size: 15px;
        font-weight: 400;

        border-radius: 50px;
        border: 1px solid #c0c0c0;

        transition: all 0.3s ease;

        img {
          margin: 0 4px 0 0;
          width: 18px;
          height: 18px;
        }

        &:hover {
          border-color: rgba($color: #e0222d, $alpha: 0.5);
        }

        &:last-child {
          margin: 0 0 0 4px;
        }

        &._select {
          border-color: #e0222d;
        }
      }
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3px 0 0;
      padding: 24px 0 0;
      border-top: 1px solid #dee3f5;

      ul {
        display: flex;
        gap: 30px;
        align-items: center;

        li {
          a {
            position: relative;
            color: #646d8c;
            font-family: Commissioner;
            font-size: 18px;
            font-weight: 700;
            transition: all 0.3s ease;

            &::after {
              content: '';
              display: block;
              height: 1px;
              width: 0;
              position: absolute;
              bottom: -3px;
              right: 0;
              opacity: 0.3;
              background: #e0222d;
              transition: all 0.3s ease;
            }

            &:hover {
              color: #e0222d;

              &::after {
                width: 100%;
                right: auto;
                left: 0;
              }
            }
          }
        }
      }

      &-search {
        cursor: pointer;
        width: 18px;
        height: 18px;

        img {
          width: 100%;
          height: 100%;

          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }

  &-mobile {
    position: relative;
    z-index: 2;
    display: none;
    align-items: center;
    padding: 8px 0 12px;

    @media (max-width: 767px) {
      display: flex;
    }

    &__logo {
      height: 48px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__search {
      cursor: pointer;
      margin: 0 0 0 auto;
      width: 22px;
      height: 22px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        &:nth-child(2) {
          display: none;
        }
      }
    }

    .header-body__top-lang {
      margin: 0 0 0 17px;
    }

    &__burger {
      cursor: pointer;
      position: relative;
      margin: 0 0 0 24px;
      width: 24px;
      height: 16px;

      span {
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #e0222d;
        border-radius: 12px;

        transition: all 0.3s ease;

        &:nth-child(1) {
          top: 0;
          left: 0;
        }

        &:nth-child(2) {
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
        }

        &:nth-child(3) {
          width: calc(100% - 8px);
          left: 0;
          bottom: 0;
        }
      }
    }
  }

  &-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    padding: 200px 20px 0;

    overflow-y: auto;

    pointer-events: none;
    visibility: hidden;
    user-select: none;
    opacity: 0;
    transform: translate(100%, 0);

    transition: all 0.4s ease;

    @media (max-width: 767px) {
      display: flex;
    }

    &__links {
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;
      margin: auto 0;

      li {
        a {
          color: #646d8c;
          font-family: Commissioner;
          font-size: 20px;
          line-height: 24px;
          font-weight: 700;

          transition: all 0.3s ease;

          &:hover {
            color: #e0222d;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 100px 0;
      padding: 20px 0 0;
      border-top: 1px solid #dcdcdc;

      &-tel {
        color: #1d1d1d;
        font-family: Commissioner;
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;

        img {
          width: 18px;
          height: 18px;
          margin: 0 10px 0 0;
          object-fit: contain;
          object-position: center;
        }
      }

      &-address {
        margin: 20px 0 0;

        color: #000;
        font-family: Commissioner;
        font-size: 13px;
        font-weight: 500;

        img {
          width: 18px;
          height: 18px;
          margin: 0 10px 0 0;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}
