.btn {
  display: inline-flex;
  gap: 16px;
  align-items: center;
  padding: 14px 30px;

  border-radius: 8px;
  background: #e0222d;

  color: #fff;
  font-family: Commissioner;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

  transition: all 0.3s ease;
  ._arrow {
    padding: 5px 0 0;
    transition: all 0.3s ease;
  }

  &:hover {
    ._arrow {
      transform: translate(5px, 0);
    }
  }
}
