<div class="modal modal_application">
  <div class="modal__bg"></div>

  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-body__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M10.9999 11.7071L-7.55191e-05 0.707107L0.707031 0L11.707 11L10.9999 11.7071Z" fill="#8E8E8E" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0.707107 11.7071L11.7071 0.707107L11 0L4.60808e-07 11L0.707107 11.7071Z" fill="#8E8E8E" />
        </svg>
      </div>
      <div class="modal-body__title">
        Оставить заявку
      </div>
      <div class="modal-body__item">
        <div class="modal-body__item-img">
          <img src="./img/products/img1.jpg" alt="">
        </div>
        <div class="modal-body__item-name">
          ТУ 14-3-190-2004
        </div>
      </div>
      <form id="modal-body-form" class="modal-body__form">
        <label>
          <input type="text" id="modal-name-input" placeholder="Ваше имя">
        </label>
        <label>
          <input type="text" id="modal-phone-input" placeholder="Телефон">
        </label>
        <label>
          <input type="text" id="modal-email-input" placeholder="Электронный адрес">
        </label>
        <label class="_checkbox">
          <input id="modal-checkbox" type="checkbox">
          <span></span>
          Я согласен с политикой конфидициальности
        </label>
        <button class="btn">
          Отправить
          <img class="_arrow" src="./img/icons/arrow.svg" alt="">
        </button>
      </form>
    </div>
  </div>
</div>