<div class="modal modal_thanks">
  <div class="modal__bg"></div>

  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-body__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M10.9999 11.7071L-7.55191e-05 0.707107L0.707031 0L11.707 11L10.9999 11.7071Z" fill="#8E8E8E" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0.707107 11.7071L11.7071 0.707107L11 0L4.60808e-07 11L0.707107 11.7071Z" fill="#8E8E8E" />
        </svg>
      </div>
      <div class="modal-body__icon">
        <img src="./img/icons/success.svg" alt="">
      </div>
      <div class="modal-body__title">
        Спасибо!
      </div>
      <div class="modal-body__text">
        Наш менеджер свяжется с вами <br>
        в ближайшее время
      </div>
      <div class="modal-body__btn btn">
        Закрыть
      </div>
    </div>
  </div>
</div>