.partners {
  margin: 64px 0 0;
  padding: 54px 0 70px;

  background-image: url(../img/index/partners/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.no_space {
    margin: 0;

    @media (max-width: 767px) {
      margin: 15px 0 0;
    }
  }

  @media (max-width: 767px) {
    margin: 0;
    padding: 30px 0 50px;

    .container {
      padding: 0 !important;
    }
  }

  &__title {
    color: #000;
    font-family: Commissioner;
    font-size: 48px;
    font-weight: 700;

    @media (max-width: 767px) {
      font-size: 28px;
      padding: 0 20px;
    }
  }

  &-body {
    margin: 60px 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media (max-width: 767px) {
      margin: 45px 0 0;
      padding: 0 20px 70px;
      gap: 15px;
      flex-wrap: nowrap;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
        margin: 0 20px;
      }

      &::-webkit-scrollbar-track {
        background: #a9a9a9;
      }

      &::-webkit-scrollbar-thumb {
        background: #e0222d;
      }

      &::-webkit-scrollbar-button:horizontal:start:decrement {
        width: 20px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-button:horizontal:end:increment {
        width: 20px;
        background-color: transparent;
      }
    }

    &__item {
      flex: 0 0 calc(25% - 22.5px);

      @media (max-width: 991px) {
        flex: 0 0 calc(33.333% - 20px);
      }

      @media (max-width: 767px) {
        flex: 0 0 212px;
      }

      &-img {
        position: relative;
        border-radius: 10px;
        background: #f3f5fa;
        padding: 0 0 58%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      &-name {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0 0;
        padding: 0 10px;
        border-radius: 10px;
        background: #fff;
        height: 52px;

        color: #000;
        text-align: center;
        font-family: Commissioner;
        font-size: 13px;
        font-weight: 500;

        @media (max-width: 767px) {
          margin: 4px 0 0;
          height: 42px;
        }
      }
    }
  }
}
