// -------- imports --------
@import 'fonts';
@import 'components/_fonts';
@import 'components/_normalize.scss';
@import 'components/_mixins.scss';
@import 'components/_variables.scss';
@import 'components/_variables.scss';
@import 'components/_header.scss';
@import 'components/_footer.scss';
@import 'components/_ui.scss';
@import 'components/_modal.scss';
@import 'pages/index/_main.scss';
@import 'pages/index/_products.scss';
@import 'pages/index/_about.scss';
@import 'pages/index/_reliably.scss';
@import 'pages/index/_partners.scss';
@import 'pages/about/_main.scss';
@import 'pages/contacts/index.scss';
@import 'pages/products/index.scss';
@import 'pages/production/index.scss';

// AOS styles
@import './components/_aos.scss';

::selection {
}

body {
  font-family: Commissioner;
  font-weight: 700;

  &._lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

._sitemap {
  height: 100vh;
  padding: 50px 0;
  background-color: rgb(58, 58, 58);

  &-con {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 767px) {
      padding: 0 50px;
    }
  }
  &-body {
    ol {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;

        @media (max-width: 767px) {
          font-size: 22px;
        }

        &:not(:first-child) {
          margin: 15px 0 0;
        }
      }
    }

    &__item {
      color: #fff;
      transition: all 0.3s;

      &:hover {
        color: rgb(179, 203, 255);
      }
    }
  }
}
